* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  height: 120px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  > img {
    width: 80px;
    height: 140px;
}

> h4 {
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

#main{
  position: relative;
  background-color: rgba(0, 0, 0, 0.243);

  > #page1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;;

    > h1{
        font-size: 7vw;
        /* mix-blend-mode: difference; */
        position: relative;

        &::before{
            content: "EAT. DRINK. PLAY.";
            position: absolute;
            color: red;
            left: -2px;
            top: -2px;
            /* z-index: -100; */
        }
    }

    > p{
        width: 60%;
    }
  }
}


